//media queries
$screen-tablet-max: 1280px;
$screen-mobile-max: 768px;

//fonts
$ubuntu: "ubuntu";
$ubuntuLight: "ubuntuLight";
$ubuntuRegular: "ubuntuRegular";
$ubuntuMedium: "ubuntuMedium";
$ubuntuBold: "ubuntuBold";
